api = "0.10"

[buildpack]
id = "heroku/ruby"
version = "2.1.3"
name = "Heroku Ruby"
homepage = "https://github.com/heroku/buildpacks-ruby"
description = "Heroku's buildpack for Ruby applications."
keywords = ["ruby", "rails", "heroku"]

[[buildpack.licenses]]
type = "BSD-3-Clause"

[[stacks]]
id = "*"

[metadata.release]
image = { repository = "docker.io/heroku/buildpack-ruby" }

[[targets]]
os = "linux"
arch = "amd64"

[[targets.distros]]
name = "ubuntu"
version = "20.04"

[[targets.distros]]
name = "ubuntu"
version = "22.04"
