api = "0.10"

[buildpack]
id = "heroku/ruby"
version = "6.0.0"
name = "Heroku Ruby"
homepage = "https://github.com/heroku/buildpacks-ruby"
description = "Heroku's buildpack for Ruby applications."
keywords = ["ruby", "rails", "heroku"]

[[buildpack.licenses]]
type = "BSD-3-Clause"

# This workaround can be removed once a new Pack release ships that includes:
# https://github.com/buildpacks/pack/pull/2081
[[stacks]]
id = "*"

[[targets]]
os = "linux"
arch = "amd64"

[[targets.distros]]
name = "ubuntu"
version = "20.04"

[[targets.distros]]
name = "ubuntu"
version = "22.04"

[[targets.distros]]
name = "ubuntu"
version = "24.04"

[[targets]]
os = "linux"
arch = "arm64"

[[targets.distros]]
name = "ubuntu"
version = "24.04"

[metadata.release]
image = { repository = "docker.io/heroku/buildpack-ruby" }
