[package]
name = "heroku-ruby-buildpack"
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
clap = { version = "4", features = ["derive"] }
commons = { path = "../../commons" }
flate2 = "1"
fs-err = "2"
fun_run = { version = "0.1", features = ["which_problem"] }
glob = "0.3"
indoc = "2"
# libcnb has a much bigger impact on buildpack behaviour than any other dependencies,
# so it's pinned to an exact version to isolate it from lockfile refreshes.
libcnb = "=0.17.0"
libherokubuildpack = "=0.17.0"
rand = "0.8"
regex = "1"
serde = "1"
tar = "0.4"
tempfile = "3"
thiserror = "1"
ureq = "2"
url = "2"

[dev-dependencies]
libcnb-test = "=0.17.0"
toml = "0.8"
