[package]
name = "heroku-ruby-buildpack"
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
clap = { version = "4", default-features = false, features = ["derive", "error-context", "help", "std", "usage"] }
commons = { path = "../../commons" }
flate2 = { version = "1", default-features = false, features = ["zlib"] }
fs-err = "2"
fun_run = { version = "0.1", features = ["which_problem"] }
glob = "0.3"
indoc = "2"
# libcnb has a much bigger impact on buildpack behaviour than any other dependencies,
# so it's pinned to an exact version to isolate it from lockfile refreshes.
libcnb = "=0.21.0"
libherokubuildpack = { version = "=0.21.0", default-features = false, features = ["digest"] }
rand = "0.8"
# TODO: Consolidate on either the regex crate or the fancy-regex crate, since this repo currently uses both.
regex = "1"
serde = "1"
tar = { version = "0.4", default-features = false }
tempfile = "3"
thiserror = "1"
ureq = { version = "2", default-features = false, features = ["tls"] }
url = "2"
magic_migrate = "0.1"
toml = "0.8"

[dev-dependencies]
libcnb-test = "=0.21.0"
