[package]
name = "heroku-ruby-buildpack"
# This crate is not published, so the only version that is used is the one in buildpack.toml.
version = "0.0.0"
publish = false
edition = "2021"
rust-version = "1.66"

[dependencies]
commons = { path = "../../commons" }
flate2 = "1"
fs-err = "2"
glob = "0.3"
indoc = "2"
# libcnb has a much bigger impact on buildpack behaviour than any other dependencies,
# so it's pinned to an exact version to isolate it from lockfile refreshes.
libcnb = "=0.14.0"
rand = "0.8"
regex = "1"
serde = "1"
tar = "0.4"
tempfile = "3"
thiserror = "1"
ureq = "2"
url = "2"
clap = { version = "4", features = ["derive"] }

[dev-dependencies]
libcnb-test = "=0.14.0"
toml = "0.7"
