allow-unwrap-in-tests = true
disallowed-types = [
    { path = "std::fs::DirEntry", replacement = "fs_err::DirEntry" },
    { path = "std::fs::File", replacement = "fs_err::File" },
    { path = "std::fs::OpenOptions", replacement = "fs_err::OpenOptions" },
    { path = "std::fs::ReadDir", replacement = "fs_err::ReadDir" },

    { path = "std::os::unix::fs::FileExt", replacement = "fs_err::os::unix::fs::FileExt" },
    { path = "std::os::unix::fs::OpenOptionsExt", replacement = "fs_err::os::unix::fs::OpenOptionsExt" },
]
disallowed-methods = [
    { path = "std::fs::canonicalize", replacement = "fs_err::canonicalize" },
    { path = "std::fs::copy", replacement = "fs_err::copy" },
    { path = "std::fs::create_dir", replacement = "fs_err::create_dir" },
    { path = "std::fs::create_dir_all", replacement = "fs_err::create_dir_all" },
    { path = "std::fs::exists", replacement = "fs_err::exists" },
    { path = "std::fs::hard_link", replacement = "fs_err::hard_link" },
    { path = "std::fs::metadata", replacement = "fs_err::metadata" },
    { path = "std::fs::read", replacement = "fs_err::read" },
    { path = "std::fs::read_dir", replacement = "fs_err::read_dir" },
    { path = "std::fs::read_link", replacement = "fs_err::read_link" },
    { path = "std::fs::read_to_string", replacement = "fs_err::read_to_string" },
    { path = "std::fs::remove_dir", replacement = "fs_err::remove_dir" },
    { path = "std::fs::remove_dir_all", replacement = "fs_err::remove_dir_all" },
    { path = "std::fs::remove_file", replacement = "fs_err::remove_file" },
    { path = "std::fs::rename", replacement = "fs_err::rename" },
    { path = "std::fs::set_permissions", replacement = "fs_err::set_permissions" },
    { path = "std::fs::soft_link", replacement = "fs_err::soft_link" },
    { path = "std::fs::symlink_metadata", replacement = "fs_err::symlink_metadata" },
    { path = "std::fs::write", replacement = "fs_err::write" },
    # "std::fs::set_permissions_nofollow",

    { path = "std::path::Path::try_exists", reason = "Use fs_err::path::PathExt methods" },
    { path = "std::path::Path::metadata", reason = "Use fs_err::path::PathExt methods" },
    { path = "std::path::Path::symlink_metadata", reason = "Use fs_err::path::PathExt methods" },
    { path = "std::path::Path::canonicalize", reason = "Use fs_err::path::PathExt methods" },
    { path = "std::path::Path::read_link", reason = "Use fs_err::path::PathExt methods" },
    { path = "std::path::Path::read_dir", reason = "Use fs_err::path::PathExt methods" },
]
