[package]
name = "commons"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
byte-unit = "4"
fancy-regex = "0.11"
fs_extra = "1"
fs-err = "2"
glob = "0.3"
indoc = "2"
lazy_static = "1"
# libcnb has a much bigger impact on buildpack behaviour than any other dependencies,
# so it's pinned to an exact version to isolate it from lockfile refreshes.
libcnb = "=0.15.0"
libherokubuildpack = "=0.15.0"
regex = "1"
serde = "1"
sha2 = "0.10"
tempfile = "3"
thiserror = "1"
walkdir = "2"
which_problem = "0.1"

[dev-dependencies]
indoc = "2.0.1"
filetime = "0.2"
toml = "0.8"
libcnb-test = "0.15.0"
